*.txt
*.jsx
*.csv
/fonts/*
*.DS_Store
*.zip
*.ttf
*.svg
*.xlsx
/output/*
settings.json
one.png
two.png
three.png
four.png
five.png
six.png
seven.png
eight.png
nine.png
zero.png
*/example/*
.notdef.png
*.pdf